/*----------------------------------------
  scroll bar
----------------------------------------*/
/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #191970;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00bfff;
  border-radius: 5px;
} */



/*----------------------------------------
  tabs
----------------------------------------*/
.tabbable-panel {
  padding: 10px;
}

.tabbable-line>.nav-tabs {
  text-align: center;
  border-bottom: none !important;
}

.tabbable-line>.nav-tabs>li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.tabbable-line>.nav-tabs>li>a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
  border-bottom: 4px solid #00bfff;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
  color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
  border-bottom: 4px solid #00bfff;
  position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
  border: 0;
  color: #333333;
}

.tabbable-line>.nav-tabs>li.active>a>i {
  color: #404040;
}

.tabbable-line>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
  padding-bottom: 0;
}


/*----------------------------------------
  tables
----------------------------------------*/
.table>thead>tr>th,
.table>thead>tr>td {
  font-size: .9em;
  font-weight: 400;
  border-bottom: 0;
  letter-spacing: 1px;
  vertical-align: top;
  padding: 8px;
  background: #191970;
  text-transform: uppercase;
  color: #ffffff;
} 

/*--------------------------------*/

/*  Account Area
/*--------------------------------*/
.account-area  {
  margin-top: 50px;
}

/*--------------------------------*/

/*  Forms
/*--------------------------------*/
.signup-form, .signin-form, .email-form, .reset-form
{
  padding: 50px 20px;
  /* box-shadow: 0 8px 6px -6px #00bfff; */
  -webkit-box-shadow: 0px 0px 5px 1px rgba(143, 143, 143, 0.4); 
  box-shadow: 0px 0px 5px 1px rgba(143, 143, 143, 0.4);
  border-radius: 10px;
} 

.info-discalaimer
{
  padding: 10px; 
  margin-bottom: 10px;
}
.signup-form .error, 
.signup-form .invalid-feedback,
.signin-form .invalid-feedback,
.email-form .invalid-feedback,
.reset-form .invalid-feedback,
.payment-form .error,
.profile-edit-form .error,
.password-edit-form .error
{
  color: red;
  font-weight: 600;
}


.signup-form input[type="text"], .signup-form input[type="email"], .signup-form input[type="password"], .signup-form  select, 
.signin-form input[type="text"], .signin-form input[type="email"], .signin-form input[type="password"], .signin-form  select, 
.email-form input[type="text"], .email-form input[type="email"], .email-form input[type="password"], .email-form  select, 
.reset-form input[type="text"], .reset-form input[type="email"], .reset-form input[type="password"], .reset-form  select, 
.payment-form input[type="text"], .payment-form  select, 
.profile-edit-form input[type="text"], .profile-edit-form input[type="email"], 
.password-edit-form input[type="password"]
{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
}

.signup-form button[type="submit"],
.signin-form button[type="submit"],
.email-form button[type="submit"],
.reset-form button[type="submit"],
.payment-form button,
.profile-edit-form  button,
.password-edit-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 10px 30px;
   text-transform: uppercase; 
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  width: 100%;
}

.signup-form button[type="submit"]:hover, .signup-form button[type="submit"]:active,
.signin-form button[type="submit"]:hover, .signin-form button[type="submit"]:active,
.email-form button[type="submit"]:hover, .email-form button[type="submit"]:active,
.reset-form button[type="submit"]:hover, .reset-form button[type="submit"]:active,
.payment-form button:hover, .payment-form button:active,
.profile-edit-form button:hover, .profile-edit-form button:active,
.password-edit-form button:hover, .password-edit-form button:active {
  color: #fff;
  border: 1px solid #00bfff;
  background: #00bfff;
}





.tipster{

  min-width: inherit;
  min-height: 200px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px #7a7a7ad5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: last baseline;
  padding: 20px 10px;
  margin: 10px 0px;
}

.subscribe-button{

  background-color: var(--theme-btn-color);
  color: var(--theme-btn-text-color);
  padding:5px  20px ;
  border: none;
  text-transform:uppercase;
  border-radius: var(--theme-btn-border-radius);
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
}

.img-circle{
  margin: 10px 0px;
  min-width: 100px;
  min-height:100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%!important;
  background-position: center;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 5px var(--theme-border-color) solid;
}

.tipster-badge{
  background-color: #00bfff;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  text-size:5pt;
  margin-top:90%;
}

.tipster-name{
  padding: 5px 2px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

.tipster-min-pricing{
  padding:5px 2px;
  display:flex;justify-content: space-between;
}

.tipster-min-pricing div{
  font-family:sans-serif;
  font-size:9pt;
  text-align:left;
}

.tipster-min-pricing .cost{
  font-size: 7pt;
  text-transform: uppercase;
  padding-right: 5px;
  font-weight: bold;
}

.tipster-min-pricing .win-rate{
  color:#00bfff
}

:root{
  --right: 10px;
  --top: 8px;
  --color: #2ca7d8;
  --width: 32px;
  --height: 36px;
}

.ribbon {
  position: absolute;
  right: var(--right, 10px);
  top: var(--top, 8px);
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.ribbon > .content {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  background: var(--color, #2ca7d8) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 32px);
  min-height: var(--height, 36px);
  transition: clip-path 1s, padding 1s, background 1s;
}
.ribbon.slant-up > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
}
.ribbon.slant-down > .content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
}
.ribbon.down > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
}
.ribbon.up > .content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
}
.ribbon.check > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
}

.mb-2{
  margin-bottom: 2%;
}

.rounded{
  border-radius: 6px;
}









